<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Assignment: Notebook for Peer Assignment

Estimated time needed: 45 minutes

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets 
2.  Load the datasets into four separate tables in a Db2 database
3.  Execute SQL queries unsing the RODBC R package to answer assignment questions 

You have already encountered two of these datasets in the previous practice lab. You will be able to reuse much of the work you did there to prepare your database tables for executing SQL queries.

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates">Bank of Canada daily average exchange rates</a>

### 1. Canadian Principal Crops Data *

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-RP0203EN-SkillsNetwork-23863830&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-RP0203EN-SkillsNetwork-23863830&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)  
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.  

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
[https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701](https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-RP0203EN-SkillsNetwork-23863830&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) 
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.  

### 3. Bank of Canada daily average exchange rates *

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
[https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/](https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-RP0203EN-SkillsNetwork-23863830&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

( * these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

1.  Annual Crop Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv> 

2.  Farm product prices: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv>

3.  Daily FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv>

4.  Monthly FX Data: <https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv>

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate Db2 tables.

Let's first load the RODBC package:

In [3]:
import numpy as np
import pandas as pd
import datetime

# Establish database connection
import sqlite3 as sq3
import ibm_db
import ibm_db_dbi
%load_ext sql

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format','{:.2f}'.format)

## Problem 1

#### Create tables

Establish a connection to the Db2 database, and create the following four tables using the RODBC package in R. 
Use the separate cells provided below to create each of your tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**  

The previous practice lab will help you accomplish this.

### Solution 1

### IBM DB

In [ ]:
#Replace the placeholder values with your actual Db2 hostname, username, and password:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "glm90595"        # e.g. "abc12345"
dsn_pwd = "m3rrl046qnqcx^35"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"

In [ ]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create the dsn connection string
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

#print the connection string to check correct values are specified
print(dsn)

In [ ]:
#DO NOT MODIFY THIS CELL. Just RUN it with Shift + Enter
#Create database connection

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

In [ ]:
#Retrieve Metadata for the Database Server
server = ibm_db.server_info(conn)

print ("DBMS_NAME: ", server.DBMS_NAME)
print ("DBMS_VER:  ", server.DBMS_VER)
print ("DB_NAME:   ", server.DB_NAME)

In [ ]:
#Retrieve Metadata for the Database Client / Driver
client = ibm_db.client_info(conn)

print ("DRIVER_NAME:          ", client.DRIVER_NAME) 
print ("DRIVER_VER:           ", client.DRIVER_VER)
print ("DATA_SOURCE_NAME:     ", client.DATA_SOURCE_NAME)
print ("DRIVER_ODBC_VER:      ", client.DRIVER_ODBC_VER)
print ("ODBC_VER:             ", client.ODBC_VER)
print ("ODBC_SQL_CONFORMANCE: ", client.ODBC_SQL_CONFORMANCE)
print ("APPL_CODEPAGE:        ", client.APPL_CODEPAGE)
print ("CONN_CODEPAGE:        ", client.CONN_CODEPAGE)

In [ ]:
ibm_db.close(conn)

### SQLite

### Test Connection

In [ ]:
con = sq3.connect("sqlite_data.db")

In [ ]:
con.execute("Select * FROM sqlite_master").fetchall() #Check no data

In [ ]:
con.close()

### Create Tables

In [ ]:
# CROP_DATA:
df1 = pd.read_csv("Annual_Crop_Data.csv", parse_dates=["YEAR"])
df1.head()

In [ ]:
df1.isnull().sum()

In [ ]:
CROP_DATA = df1.copy()

In [ ]:
# FARM_PRICES:
df2 = pd.read_csv("Monthly_Farm_Prices.csv", parse_dates=["date"])
df2.head()

In [ ]:
df2.isnull().sum()

In [ ]:
FARM_PRICES = df2.copy()

In [ ]:
# DAILY_FX:
df3 = pd.read_csv("Daily_FX.csv", parse_dates=["date"])
df3.head()

In [ ]:
df3.isnull().sum()

In [ ]:
DAILY_FX = df3.copy()

In [ ]:
# MONTHLY_FX:
df4 = pd.read_csv("Monthly_FX.csv", parse_dates=["date"])
df4.head()

In [ ]:
df4.isnull().sum()

In [ ]:
MONTHLY_FX = df4.copy()

### Upload to Database

In [ ]:
con = sq3.connect("sqlite_data.db")

In [ ]:
con

In [ ]:
CROP_DATA.to_sql("Cropdata", con, index=False)

In [ ]:
FARM_PRICES.to_sql("Farmprices", con, index=False)

In [ ]:
DAILY_FX.to_sql("Dailyfx", con, index=False)

In [ ]:
MONTHLY_FX.to_sql("Monthlyfx", con, index=False)

In [ ]:
con.execute("Select * FROM sqlite_master").fetchall()

In [ ]:
pd.read_sql_query("Select * FROM sqlite_master", con) #Check all tables inside database

In [ ]:
con.close()

## Problem 2

#### Read Datasets and Load Tables

Read the datasets into R dataframes using the urls provided above. Then load your tables.

### Solution 2

In [4]:
db = sq3.connect("sqlite_data.db") #Create connection

In [5]:
cursor = db.cursor()

In [6]:
pd.read_sql_query('SELECT * FROM sqlite_master', db) #Check all tables

    type        name    tbl_name  rootpage                                                sql
0  table    Cropdata    Cropdata         2  CREATE TABLE "Cropdata" (\n"index" INTEGER,\n ...
1  table  Farmprices  Farmprices        13  CREATE TABLE "Farmprices" (\n"index" INTEGER,\...
2  table     Dailyfx     Dailyfx        50  CREATE TABLE "Dailyfx" (\n"index" INTEGER,\n  ...
3  table   Monthlyfx   Monthlyfx        61  CREATE TABLE "Monthlyfx" (\n"index" INTEGER,\n...

## Now execute SQL queries using the RODBC R package to solve the assignment problems.

## Problem 3

#### How many records are in the farm prices dataset?

### Solution 3

In [7]:
farmprice = pd.read_sql_query('SELECT * FROM Farmprices', db , index_col="index", parse_dates='date')

In [8]:
farmprice

            date cropType           GEO  pricePerMT
index
0     1985-01-01   Barley       Alberta      127.39
1     1985-01-01   Barley  Saskatchewan      121.38
2     1985-01-01   Canola       Alberta      342.00
3     1985-01-01   Canola  Saskatchewan      339.82
4     1985-01-01      Rye       Alberta      100.77
...          ...      ...           ...         ...
2673  2020-12-01   Canola  Saskatchewan      507.33
2674  2020-12-01      Rye       Alberta      202.41
2675  2020-12-01      Rye  Saskatchewan      192.90
2676  2020-12-01    Wheat       Alberta      279.59
2677  2020-12-01    Wheat  Saskatchewan      271.90

[2678 rows x 4 columns]

In [ ]:
pd.read_sql_query('SELECT COUNT(*) FROM Farmprices', db)

In [ ]:
farmprice.shape

## Problem 4

#### Which geographies are included in the farm prices dataset?

### Solution 4

In [ ]:
pd.read_sql_query('SELECT DISTINCT GEO FROM Farmprices', db)

In [ ]:
farmprice.GEO.unique()

## Problem 5

#### How many hectares of Rye were harvested in Canada in 1968?

In [9]:
cropdata = pd.read_sql_query('SELECT * FROM Cropdata',db , index_col='index', parse_dates='YEAR')

In [10]:
cropdata

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield
index
0     1965-12-31   Barley       Alberta     1372000        1372000     2504000      1825
1     1965-12-31   Barley        Canada     2476800        2476800     4752900      1920
2     1965-12-31   Barley  Saskatchewan      708000         708000     1415000      2000
3     1965-12-31   Canola       Alberta      297400         297400      215500       725
4     1965-12-31   Canola        Canada      580700         580700      512600       885
...          ...      ...           ...         ...            ...         ...       ...
667   2020-12-31      Rye        Canada      236700         153000      487800      3188
668   2020-12-31      Rye  Saskatchewan       58200          47400      122000      2572
669   2020-12-31    Wheat       Alberta     3014300        2944700    11041000      3750
670   2020-12-31    Wheat        Canada    10193600       10017800    35183000      3512
671   2020-12-31    Wheat  Saskatchewan     5203700        5175400    15984200      3088

[672 rows x 7 columns]

### Solution 5

In [ ]:
pd.read_sql_query('SELECT YEAR, cropType, SUM(harvestedArea) \
                   FROM Cropdata \
                   WHERE cropType="Rye" AND YEAR LIKE "1968%";', db
                   )

In [ ]:
cd = cropdata[(cropdata["YEAR"] == "1968-12-31") & (cropdata["cropType"] == "Rye")]
cd

In [ ]:
cd.harvestedArea.sum()

## Problem 6

#### Query and display the first 6 rows of the farm prices table for Rye.

### Solution 6

In [ ]:
pd.read_sql_query('SELECT cropType, pricePerMT \
                   FROM Farmprices \
                   WHERE cropType = "Rye"\
                   LIMIT 6;', db
                   )

In [ ]:
ryeprice = farmprice[farmprice["cropType"] == "Rye"]

In [ ]:
ryeprice.head(6)

## Problem 7

#### Which provinces grew Barley?

### Solution 7

In [ ]:
pd.read_sql_query('SELECT DISTINCT cropType, GEO \
                   FROM Cropdata \
                   WHERE cropType = "Barley"\
                   ;', db
                   )

In [ ]:
cropdata.head()

In [ ]:
barley_provinces = cropdata[cropdata["cropType"] == "Barley"]

In [ ]:
barley_provinces.GEO.unique()

## Problem 8

#### Find the first and last dates for the farm prices data.

### Solution 8

In [ ]:
pd.read_sql_query('SELECT MIN(date) FROM Farmprices', db)

In [ ]:
pd.read_sql_query('SELECT MAX(date) FROM Farmprices', db)

In [ ]:
farmprice['date'].min()

In [ ]:
farmprice['date'].max()

## Problem 9

#### Which crops have ever reached a farm price greater than or equal to $350 per metric tonne?

### Solution 9

In [ ]:
pd.read_sql_query('SELECT cropType, pricePerMT \
                   FROM Farmprices \
                   WHERE pricePerMT >=350.00;', db)

In [ ]:
croptype = farmprice[farmprice["pricePerMT"] >= 350.00]
croptype

In [ ]:
croptype.cropType.unique()

## Problem 10

#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

### Solution 10

In [ ]:
pd.read_sql_query('SELECT cropType, avgYield \
                   FROM Cropdata \
                   WHERE GEO = "Saskatchewan" AND YEAR LIKE "2000%"\
                   ORDER BY avgYield DESC;', db
                   )

In [11]:
cropdata

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield
index
0     1965-12-31   Barley       Alberta     1372000        1372000     2504000      1825
1     1965-12-31   Barley        Canada     2476800        2476800     4752900      1920
2     1965-12-31   Barley  Saskatchewan      708000         708000     1415000      2000
3     1965-12-31   Canola       Alberta      297400         297400      215500       725
4     1965-12-31   Canola        Canada      580700         580700      512600       885
...          ...      ...           ...         ...            ...         ...       ...
667   2020-12-31      Rye        Canada      236700         153000      487800      3188
668   2020-12-31      Rye  Saskatchewan       58200          47400      122000      2572
669   2020-12-31    Wheat       Alberta     3014300        2944700    11041000      3750
670   2020-12-31    Wheat        Canada    10193600       10017800    35183000      3512
671   2020-12-31    Wheat  Saskatchewan     5203700        5175400    15984200      3088

[672 rows x 7 columns]

In [12]:
cropdata["year"] = cropdata["YEAR"].dt.year

In [13]:
cropdata.head()

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield  year
index
0     1965-12-31   Barley       Alberta     1372000        1372000     2504000      1825  1965
1     1965-12-31   Barley        Canada     2476800        2476800     4752900      1920  1965
2     1965-12-31   Barley  Saskatchewan      708000         708000     1415000      2000  1965
3     1965-12-31   Canola       Alberta      297400         297400      215500       725  1965
4     1965-12-31   Canola        Canada      580700         580700      512600       885  1965

In [14]:
year2000 = cropdata[cropdata["year"] == 2000]

In [15]:
year2000

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield  year
index
420   2000-12-31   Barley       Alberta     2185300        1740100     5268900      3000  2000
421   2000-12-31   Barley        Canada     5101300        4468100    13228600      3000  2000
422   2000-12-31   Barley  Saskatchewan     2063900        1922300     5301600      2800  2000
423   2000-12-31   Canola       Alberta     1537800        1497300     2188600      1500  2000
424   2000-12-31   Canola        Canada     4937000        4859200     7205300      1500  2000
425   2000-12-31   Canola  Saskatchewan     2387600        2371500     3424600      1400  2000
426   2000-12-31      Rye       Alberta       50600          20200       42500      2100  2000
427   2000-12-31      Rye        Canada      188200         114500      260300      2300  2000
428   2000-12-31      Rye  Saskatchewan       66800          46500       97800      2100  2000
429   2000-12-31    Wheat       Alberta     2930700        2811300     7123700      2500  2000
430   2000-12-31    Wheat        Canada    11072200       10854800    26535500      2400  2000
431   2000-12-31    Wheat  Saskatchewan     6145100        6080300    13411800      2200  2000

In [16]:
year2000[year2000["GEO"] == "Saskatchewan"].sort_values(by='avgYield')

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield  year
index
425   2000-12-31   Canola  Saskatchewan     2387600        2371500     3424600      1400  2000
428   2000-12-31      Rye  Saskatchewan       66800          46500       97800      2100  2000
431   2000-12-31    Wheat  Saskatchewan     6145100        6080300    13411800      2200  2000
422   2000-12-31   Barley  Saskatchewan     2063900        1922300     5301600      2800  2000

## Problem 11

#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

### Solution 11

In [ ]:
pd.read_sql_query('SELECT cropType, avgYield \
                   FROM Cropdata \
                   WHERE YEAR >= 2000 \
                   GROUP BY cropType, GEO \
                   ORDER BY avgYield DESC \
                   ;', db
                   )

In [ ]:
rank = cropdata[cropdata["year"] >= 2000]
rank

In [ ]:
rank.groupby(['cropType','GEO'])['avgYield'].max().sort_values()

## Problem 12

#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

### Solution 12

In [17]:
pd.read_sql_query('SELECT YEAR, cropType, SUM(harvestedArea), \
                      (SELECT GEO FROM Cropdata\
                       WHERE GEO = "Canada") AS Province\
                   FROM Cropdata \
                   WHERE cropType = "Wheat" AND YEAR LIKE "2020%";'                
                   , db
                   )

                  YEAR cropType  SUM(harvestedArea) Province
0  2020-12-31 00:00:00    Wheat            18137900   Canada

In [18]:
cropdata

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield  year
index
0     1965-12-31   Barley       Alberta     1372000        1372000     2504000      1825  1965
1     1965-12-31   Barley        Canada     2476800        2476800     4752900      1920  1965
2     1965-12-31   Barley  Saskatchewan      708000         708000     1415000      2000  1965
3     1965-12-31   Canola       Alberta      297400         297400      215500       725  1965
4     1965-12-31   Canola        Canada      580700         580700      512600       885  1965
...          ...      ...           ...         ...            ...         ...       ...   ...
667   2020-12-31      Rye        Canada      236700         153000      487800      3188  2020
668   2020-12-31      Rye  Saskatchewan       58200          47400      122000      2572  2020
669   2020-12-31    Wheat       Alberta     3014300        2944700    11041000      3750  2020
670   2020-12-31    Wheat        Canada    10193600       10017800    35183000      3512  2020
671   2020-12-31    Wheat  Saskatchewan     5203700        5175400    15984200      3088  2020

[672 rows x 8 columns]

In [19]:
year2020 = cropdata[cropdata["year"] == 2020]

In [20]:
year2020

            YEAR cropType           GEO  seededArea  harvestedArea  production  avgYield  year
index
660   2020-12-31   Barley       Alberta     1481800        1326200     5283000      3980  2020
661   2020-12-31   Barley        Canada     3059900        2808700    10740600      3820  2020
662   2020-12-31   Barley  Saskatchewan     1264400        1187300     4385100      3690  2020
663   2020-12-31   Canola       Alberta     2377900        2313500     5212100      2253  2020
664   2020-12-31   Canola        Canada     8410400        8319800    18719700      2250  2020
665   2020-12-31   Canola  Saskatchewan     4588800        4574100    10202900      2231  2020
666   2020-12-31      Rye       Alberta       41600          29200      107400      3691  2020
667   2020-12-31      Rye        Canada      236700         153000      487800      3188  2020
668   2020-12-31      Rye  Saskatchewan       58200          47400      122000      2572  2020
669   2020-12-31    Wheat       Alberta     3014300        2944700    11041000      3750  2020
670   2020-12-31    Wheat        Canada    10193600       10017800    35183000      3512  2020
671   2020-12-31    Wheat  Saskatchewan     5203700        5175400    15984200      3088  2020

In [27]:
year2020.groupby(["cropType","GEO"])["harvestedArea"].sum()

cropType  GEO
Barley    Alberta          1326200
          Canada           2808700
          Saskatchewan     1187300
Canola    Alberta          2313500
          Canada           8319800
          Saskatchewan     4574100
Rye       Alberta            29200
          Canada            153000
          Saskatchewan       47400
Wheat     Alberta          2944700
          Canada          10017800
          Saskatchewan     5175400
Name: harvestedArea, dtype: int64

## Problem 13

#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

### Solution 13

In [28]:
dailyfx = pd.read_sql_query('SELECT * FROM Dailyfx', db , index_col='index', parse_dates='date')

In [29]:
dailyfx.head()

            date  FXUSDCAD
index
0     2017-01-03      1.34
1     2017-01-04      1.33
2     2017-01-05      1.32
3     2017-01-06      1.32
4     2017-01-09      1.32

In [30]:
monthlyfx = pd.read_sql_query('SELECT * FROM Monthlyfx', db , index_col='index', parse_dates='date')

In [31]:
monthlyfx.head()

            date  FXUSDCAD
index
0     2017-01-01      1.32
1     2017-02-01      1.31
2     2017-03-01      1.34
3     2017-04-01      1.34
4     2017-05-01      1.36

In [ ]:
canola = farmprice[farmprice["cropType"] == "Canola"]

In [ ]:
canola

In [ ]:
canolasas = canola[canola["GEO"] == "Saskatchewan"]

In [ ]:
canolasas

In [ ]:
canolasas2020 = canolasas[canolasas["year"] == 2020]

In [ ]:
canolasas2020

In [ ]:
df = pd.merge(left=canolasas2020, right=monthlyfx, on="date", how="inner")

In [ ]:
df

In [ ]:
df["CAD"] = df["pricePerMT"] * 1.00

In [ ]:
df["USD"] = df["CAD"] / df["FXUSDCAD"]

In [ ]:
df.tail(6)

In [ ]:
db.close() ### Close connection

## Author(s)

<h4> Jeff Grossman </h4>

## Contributor(s)

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description                                                                                         |
| ---------- | ------- | ------------- | ---------------------------------------------------------------------------------------------------------- |
| 2021-04-01 | 0.7     | Jeff Grossman | Split Problem 1 solution cell into multiple cells, fixed minor bugs                                        |
| 2021-03-12 | 0.6     | Jeff Grossman | Cleaned up content for production                                                                          |
| 2021-03-11 | 0.5     | Jeff Grossman | Moved more advanced problems to optional honours module                                                    |
| 2021-03-10 | 0.4     | Jeff Grossman | Added introductory and intermediate level problems and removed some advanced problems                      |
| 2021-03-04 | 0.3     | Jeff Grossman | Moved some problems to a new practice lab as prep for this assignment                                      |
| 2021-03-04 | 0.2     | Jeff Grossman | Sorted problems roughly by level of difficulty and relegated more advanced ones to ungraded bonus problems |
| 2021-02-20 | 0.1     | Jeff Grossman | Started content creation                                                                                   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>